apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: worldpay-backend-hpa
  namespace: worldpay
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: backend-deploy
  minReplicas: 2
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
